
<h2 style="text-align: center;">Appointment Details</h2>
<table class="col-md-10 mx-auto table table-striped table-hover table-bordered mt-4">
    <tr>
      <th>AppointmentID</th>
      <th>Date/Time</th>
      <th>Appointment Status</th>
      <th>CenterID</th>
      <th>TestID</th>
      <th>UserID</th>
      <th>User Name</th>
    </tr>
    <tr>
      <td>{{appointment.appointmentId}}</td>
      <td>{{appointment.datetime}}</td> 
      <div *ngIf="appointment.approved==false; else elseBlock" ><td>
        Pending!
      </td> 
      </div>
      <ng-template #elseBlock><td>Approved</td></ng-template>
      <td>{{appointment.center.centerId}}</td>
      <td>{{appointment.test.testId}}</td>
      <td>{{appointment.user.userId}}</td>
      <td>{{appointment.user.userName}}</td>
    </tr>
  </table>