<h2 class="text-center" style="margin: 10px;"><b>{{center.centerName}} Details</b></h2> 
<hr/>
<div *ngIf="center" class="card">
<div style="float: left;">
  <div>
    <label><b>Center Name: </b></label> {{center.centerName}}
  </div>
  <div>
    <label><b>City: </b></label> {{center.address}}
  </div>
  <div>
    <label><b>Contact No: </b></label> {{center.contactNo}}
  </div> 
  </div>
  <div style="float: right;">
    <button class="btn btn-primary" (click)="addTest(center.centerId)">Add Tests</button>
    </div>
  <hr>
  <table class="col-md-10 mx-auto table table-striped table-hover table-bordered mt-4">
    <tr>
      <th>Tests Available</th>
      <th style="width: 50px;">Action</th>
    </tr>
  <tr *ngFor="let testObject of center.test">
   <td>{{testObject.testName}}</td>
   <td><button class="btn btn-danger" (click)="removeTest(testObject.testId)" title="Clicking this button will delete the corresponding test.">Delete</button>   </td>
  </tr> 
  </table> 
</div>

<br>
<br>